.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.swiper-slide {
  background: linear-gradient(120deg, #fddb92 0%, #d1fdff 100%);
  /* Additional styles for your carousel */
}
#bg {
  width: 100vw;
  height: 100vh; /* Change to viewport height to cover the full screen height */
  min-height: 100%; /* Ensure it covers the content if it's taller than the screen */
  margin: 0;
  padding: 0;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position: center center; /* Center the image properly */
  background-repeat: repeat repeat-y; 
  background-attachment: scroll; 
}
